body {
  padding: 15px;
  font-family: Arial, sans-serif;
  height: 100vh;
}

/* style navigation */
.navigation-bar ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
}
.navigation-bar li {
  float: left;
  margin: 5px;
  display: inline;
}
.navigation-bar a {
  display: block;
  padding: 8px;
  border-radius: 5px;
  background-color: #dddddd;
}

#container {
  margin-top: 30px;
  width: 80vh;
  text-align: center;
  margin: 0 auto;
}

#submitBtn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.text-weight-medium {
  font-weight: lighter;
}
.image {
  border-radius: 15px;
  width: 100%;
}

input[type="text"], input[type="date"], input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form {
  width: 300px;
  margin: 0 auto;
}

th {
  text-align: left;
}